<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949718911596-1p55c4kaqofmjslaj9m4562lifeo2n7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949718911596-1p55c4kaqofmjslaj9m4562lifeo2n7d</string>
	<key>API_KEY</key>
	<string>AIzaSyCFjckEmJhma1BVnvmmXMKBxiwwb4xrz-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>949718911596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.siten.assistant</string>
	<key>PROJECT_ID</key>
	<string>timwook</string>
	<key>STORAGE_BUCKET</key>
	<string>timwook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949718911596:ios:0cdc33ec106ca38d066649</string>
</dict>
</plist>